.et-db {
	#et-boc {
		.et_pb_row {
			margin: 0 auto;
			width: 100%;
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
			@media (min-width: 576px) {

			    max-width: 576px;
			}

			@media (min-width: 768px) {

			    max-width: 768px;
			}

			@media (min-width: 992px) {

			    max-width: 992px;

			}

			@media (min-width: 1200px) {


			    max-width: 1200px;

			}
		}

		.et-fb-modules-list ul li {
			.cacm_card:before {
				font-family: 'CaGov'!important;
    			content: "\e658"!important;
			}
		}
	}
}

.panel-heading .triangle {
	z-index: 99;
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\e600";
    font-family: 'CaGov' !important;
}

a,abbr,acronym,address,applet,b,big,blockquote,body,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,html,i,iframe,img,ins,kbd,label,legend,object,pre,q,s,samp,small,span,strike,strong,sub,sup,tt,u,var{margin:0;padding:0;border:0;outline:0;background:0 0;}

.course-item {
	.thumbnail {
		img {
			max-width: 60px;
		}
	}
}

.event-detail {
	.thumbnail {
		max-width: 150px;
	}
}

.publication-list {
	.pub-item:nth-child(odd) {
		background: #fafafa;
	}

	.pub-item:nth-child(even) {
		background: #f0f0f0;
	}
}

.profile-detail {
	.profile-image {
		max-width: 150px;
	}
}

.google-search {
	background-color: rgba(255,255,255,.8);
    border-radius: 0;
    border: 3px solid transparent;
    transition: border .4s;
    outline: 0;
    padding: 5px;
    font-size: 1.1rem;
    opacity: .8!important;
    width: 100%;
	display: flex;
	position: relative;

	.search-box {
		background: none;
		border: none;
		width: 100%;
		font-size: 1.1rem;
		margin-right: 10px;
	}

	.search-button {
		background: none;
    	border: none;
    	font-size: 30px;
    	padding: 0 5px;
	}
}

.clear-search {
	position: absolute;
	right: -45px;
	top: 0;
    cursor: pointer;
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    padding: 0;
}

body.active-search {
	.clear-search {
		display: block;
	}
}
