.et-db {
	#et-boc {
		.et_pb_row {
			margin: 0 auto;
			width: 100%;
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
			@media (min-width: 576px) {
			 
			    max-width: 576px;
			}

			@media (min-width: 768px) {
			 
			    max-width: 768px;
			}

			@media (min-width: 992px) {
			 
			    max-width: 992px;

			}

			@media (min-width: 1200px) {

			 
			    max-width: 1200px;

			}
		}

		.et-fb-modules-list ul li {
			.cacm_card:before {
				font-family: 'CaGov'!important;
    			content: "\e658"!important;
			}
		}
	}
}

.panel-heading .triangle {
	z-index: 99;
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\e600";
    font-family: 'CaGov' !important;
}


a,abbr,acronym,address,applet,b,big,blockquote,body,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,tt,u,ul,var{margin:0;padding:0;border:0;outline:0;background:0 0;font-size:100%;vertical-align:baseline;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}