.utility-header .settings-links {
	padding-left: 0;
}

.utility-header .located-city-name {
	margin-left: 0;

}

#google_translate_element.standard-translate {
	flex-grow: 1;
	padding-left: 0;
	text-align: right;
}

.translate-standard {
	.group {
		display: flex;
		align-items: center;

		.settings-links {
			.utility-links {
				display: flex;
				align-items: center;
			}
		}
	}
}