// colors

$primary: #046B99;

$secondary: #FDB81E;

$dark-gray: #323A45;

$gray: #848484;

$light-gray: #D8D8D8;

$white: #fff;


// radius

$full-radius: 10px;

$top-radius: 10px 10px 0 0;

$bottom-radius: 0 0 10px 10px;

// shadows

$shadow: 0 0 5px 0 rgba(0,0,0,0.10);

